In [2]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/gdrive/MyDrive/Insurance cross sell.csv')
df.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1    Male   44  ...                  26.0      217         1
1   2    Male   76  ...                  26.0      183         0
2   3    Male   47  ...                  26.0       27         1
3   4    Male   21  ...                 152.0      203         0
4   5  Female   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [6]:
df['Gender'] = label.fit_transform(df['Gender'])

In [7]:
df['Vehicle_Damage'] = label.fit_transform(df['Vehicle_Damage'])

In [8]:
df.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1       1   44  ...                  26.0      217         1
1   2       1   76  ...                  26.0      183         0
2   3       1   47  ...                  26.0       27         1
3   4       1   21  ...                 152.0      203         0
4   5       0   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [9]:
df['Vehicle_Age'] = df['Vehicle_Age'].replace({'< 1 Year':0, '1-2 Year':1, '> 2 Years':2})

In [10]:
df.head()

   id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0   1       1   44  ...                  26.0      217         1
1   2       1   76  ...                  26.0      183         0
2   3       1   47  ...                  26.0       27         1
3   4       1   21  ...                 152.0      203         0
4   5       0   29  ...                 152.0       39         0

[5 rows x 12 columns]

In [11]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)

X = scaler.transform(X)

In [13]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X, y, test_size = 0.1, random_state=0)

In [14]:
df.drop(["id"], axis = 1,inplace=True)

In [15]:
df.shape

(381109, 11)

## Logistic Classifier

In [16]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression() 
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
#print(list(zip(Y_test,Y_pred)))

print(classifier.coef_)
print(classifier.intercept_)

[[-0.00409482  0.05370356 -0.31254156  0.05926529 -0.00396611 -1.98236343
   0.3941589   1.00833014  0.02796003 -0.15672129 -0.00300506]]
[-4.06937945]

In [17]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)
print("Accuracy of the model:",acc)

Accuracy of the model: 0.8761512424234473

## K-NN Classifier

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=5)
knc.fit(x_train, y_train)
y_pred = knc.predict(x_test)

In [20]:
knc_score = accuracy_score(y_test,y_pred)
print("Accuracy of the model:",knc_score)

Accuracy of the model: 0.8559733410301488

## Naive Bayes Classifier

In [21]:
from sklearn.naive_bayes import GaussianNB
NBclf = GaussianNB()
NBclf.fit(x_train, y_train)
y_predNB = NBclf.predict(x_test)

In [22]:
NB_score = accuracy_score(y_test,y_predNB)
print("Accuracy of the model:",NB_score)

Accuracy of the model: 0.6405762115924536

## Decision Classifier

In [23]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier(random_state=0)
DT.fit(x_train,y_train)
y_predDT = DT.predict(x_test)

In [24]:
DT_score =  accuracy_score(y_test,y_predDT)
print("Accuracy of the model:",DT_score)

Accuracy of the model: 0.8207079320930964

## Random Forest Classifier

In [25]:
from sklearn.ensemble import RandomForestClassifier
RFclf = RandomForestClassifier(random_state=0)
RFclf.fit(x_train,y_train)
y_predRF = RFclf.predict(x_test)

In [26]:
RF_score = accuracy_score(y_test, y_predRF)
print("Accuracy of the model:",RF_score)

Accuracy of the model: 0.8718217837369788

## Gradient Boost classifier

In [27]:
from sklearn.ensemble import GradientBoostingClassifier
GBclf = GradientBoostingClassifier(random_state=0)
GBclf.fit(x_train, y_train)
y_predGB = GBclf.predict(x_test)

In [28]:
GB_score = accuracy_score(y_test, y_predGB)
print("Accuracy of the model:",GB_score)

Accuracy of the model: 0.876203720710556

## SVM Classifier

In [ ]:
from sklearn import svm
from sklearn.svm import SVC
SVMclf = svm.SVC()
SVMclf.fit(x_train,y_train)
y_predSVM = SVM.clf.predict(x_test)

In [ ]:
SVM_score = accuracy_score(y_test, y_predSVM)
print("Accuracy of the model:",SVM_score)

SVM TAKING MORE THAN AN HOUR